html, body {
    font-size: .875rem;
    height: 100%;
}

main {
    padding: 1.5rem;
}

li.list-group-item:nth-child(even) {
    background-color: #f8f9fa;
}

li.list-group-item:hover {
    background-color: #d6d8db;
}

li.list-group-item .error {
    color: #dc3545;
}

li.list-group-item .float-right .actions {
    display: none;
}

li.list-group-item:hover .float-right .actions {
    display: block;
}

li.list-group-item .float-right .favorite {
    display: block;
    color: #ffc107;
}

li.list-group-item:hover .float-right .favorite {
    display: none;
}

.tags .badge {
    font-size: .875rem;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link:hover {
    text-decoration: underline;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * tags input
 */
.tags-input {
    background-color: white;
}

.tags-input .badge {
    font-size: 1rem;
}

.tags-input input[type="text"] {
    border: 0px;
}

.autocomplete {
    position: absolute;
    z-index: 99;
}

/*
 * login
 */
.login {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;
    height: 100%;
}

.login form {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

.login form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.login form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
