<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
        <title>Oxfeed</title>

        <script type="module">
            import init from "/oxfeed_front.js"
            init()
        </script>

        <link href="/lib/bootstrap/dist/css/bootstrap.min.css?v={{ version }}" rel="stylesheet" />
        <link href="/css/main.css?v={{ version }}" rel="stylesheet" />
        <link rel="icon" href="/favicon.ico?v={{ version }}" />
    </head>
    <body>
    </body>
</html>
